<div id="boutons" class="row">
	<div class="col-md-3">
		<form class="inline_button" method="post" action="/Usain_Bolt">
			<input id="Demarrer" class="btn btn-default" type="submit" value="Usain Bolt" />
		</form>
	</div>
	<div class="col-md-3">
		<form class="inline_button" method="post" action="/heureux">
			<input id="Demarrer" class="btn btn-default" type="submit" value="Démarrer" />
		</form>
	</div>
	<div class="col-md-3">
		<form class="inline_button" method="post" action="/demarrer_vote">
			<input id="Demarrer" class="btn btn-default" type="submit" value="Démarrer" />
		</form>
	</div>
	<div class="col-md-3">
		<form class="inline_button" method="post" action="/demarrer_vote">
			<input id="Demarrer" class="btn btn-default" type="submit" value="Démarrer" />
		</form>
	</div>
</div>