<div id="header" class="row">
	<div class="col-md-3">
		<img id="robespierre" src="../robespierre.jpg">
	</div>
	<div id="titre" class="col-md-6">
		<h1><strong>Projet Robespierre</strong></h1>
		  <hr id="hr_titre"/>
	</div>
</div>