<div id="header" class="row">
	<div class="col-md-4">
		<img id="robespierre" src="../robespierre.jpg">
	</div>
	<div id="titre" class="col-md-4">
		<h1><strong>Projet Robespierre</strong></h1>
	</div>
</div>