<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Robi aux commandes</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../assets/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Robi aux Commandes</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->

<div class="row">
  <div class="col-md-6 col-lg-3">
     <h2>Playlist</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    <div class="visible-lg text-success">Large Devices!</div>
    <div class="visible-md text-warning">Medium Devices!</div>
    <div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>
  </div>

  <div class="col-md-6 col-lg-3">
     <h2>Librairie</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    <div class="visible-lg text-success">Large Devices!</div>
    <div class="visible-md text-warning">Medium Devices!</div>
    <div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>
  </div>

  <div class="col-md-6 col-lg-3">
     <h2>Twitter</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    <div class="visible-lg text-success">Large Devices!</div>
    <div class="visible-md text-warning">Medium Devices!</div>
    <div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>
  </div>  

  <div class="col-md-6 col-lg-3">
     <h2>Prompteur</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    <div class="visible-lg text-success">Large Devices!</div>
    <div class="visible-md text-warning">Medium Devices!</div>
    <div class="visible-xs visible-sm text-danger">Extra Small and Small Devices</div>
  </div>  

</div>
      </div>

      <hr>

  <div id="footer">
    <div class="container">
    <div class="col-ws-2 col-sm-2 col-md-2 col-lg-2">
      <a class="btn btn-lg btn-info" href="#" role="button">Rire &raquo;</a>
    </div>
    <div class="col-ws-2 col-sm-2 col-md-2 col-lg-2">
      <a class="btn btn-lg btn-success" href="#" role="button">Déprime &raquo;</a>
    </div>
    <div class="col-ws-2 col-sm-2 col-md-2 col-lg-2">
    <a class="btn btn-lg btn-primary" href="#" role="button">Random insulte &raquo;</a>
    </div>
    <div class="col-ws-2 col-sm-2 col-md-2 col-lg-2">
      <a class="btn btn-lg btn-warning" href="#" role="button">Photo &raquo;</a>
    </div>
    <div class="col-ws-2 col-sm-2 col-md-2 col-lg-2">
      <a class="btn btn-lg btn-default" href="#" role="button">Autographe &raquo;</a>
    </div>
    <div class="col-ws-2 col-sm-2 col-md-2 col-lg-2">
      <a class="btn btn-lg btn-danger" href="#" role="button">Allez Salut ! &raquo;</a>
    </div>
      </p>
    </div>
  </div>
  </footer>
        
</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
