<div class="row">  
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Text To Speech</h3>
      </div>
      <div class="panel-body">
        <form method="post" action="#">
         <textarea class="form-control" name="input" type="text" placeholder="type your text" rows="15"></textarea>
         <button id="play" class="btn btn-default btn-lg active" type="submit" value="Submit">Play</button>
       </form>
     </div>
   </div>
 </div>

 <div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Text To Speech</h3>
    </div>
    <div class="panel-body">
      <a class="twitter-timeline"  href="https://twitter.com/operobespierre"  data-widget-id="433979332197769216">Tweets de @operobespierre</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Player</h3>
    </div>
    <div class="panel-body">
      <object type="application/x-shockwave-flash" data="dewplayer-playlist-cover.swf" width="240" height="20" id="dewplayer" name="dewplayer"> <param name="wmode" value="transparent" /><param name="movie" value="dewplayer-playlist-cover.swf" /> <param name="flashvars='xml=playlist.xml'" value="mp3=/mp3/test1.mp3|/mp3/test2.mp3" /> </object>
    </div>
  </div>
</div>


</div>