<div class="col-md-3">
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Text To Speech</h3>
    </div>
    <div id="tts_panel_body" class="panel-body">
      <form method="post" action="/">
        <textarea id="tts_text_area" class="form-control" name="input" type="text" placeholder="type your text" rows="15"></textarea>
      </div><!--ferme le 1er panel-body-->
      <div class="panel-body">
        <button id="play" class="btn btn-default" type="submit" value="Submit">Envoyer</button>
      </form>
    </div><!--ferme le 2ème panel-body-->
  </div>
</div>