<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Votes</h3>
    </div>
    <div>
      <form id="search_form" class="form-horizontal" role="form" method="post" action="/search">
        <div class="form-group">
          <label for="input" class="col-sm-3 control-label">Search</label>
          <div class="col-sm-8 ">
            <input name="input" type="text" class="form-control" id="input" placeholder="hashtag"/>
          </div>
        </div>
      </form>
    </div>
    <form method="post" action="/">
      <div id="conteneur_tweet" class="panel-body">
        <%= erb :tweets, layout: false %>
        
      </div> <!--ferme le 2ème panel body -->
      <div class="panel-body"><!--3ème panel-body-->
        <input id="envoyer" class="btn btn-default" type="submit" value="Envoyer" />
        <!-- modal button -->
        <button class="inline_button btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Twitter</button>
      </div><!-- ferme le 3ème panel-body -->
    </form>
  </div><!--ferme le panel-->
</div><!--ferme le col-md-3-->