@font-face {
    font-family: "BrannbollFet";
    src: url('../font/BrannbollFet.ttf');
}

@font-face {
    font-family: "BrannbollSmal";
    font-family: "USN_Stencil";
    font-weight: bold;
    src: url('../font/BrannbollSmal.ttf');
    src: url('../font/USN_Stencil.ttf' );
}

/* Positionne la photo en arrière plan */
body {
	background: url(../studioB&W.jpg) no-repeat center center fixed; 
  	 -webkit-background-size: cover;
     	-moz-background-size: cover;
       	  -o-background-size: cover;
             background-size: cover;
}


#header {
	margin-top: 0px !important;
	background-color: #F3F2D4; 
	margin-top: 25px;
	margin-bottom: 25px;
}

#robespierre {
position: absolute 0px 0px;
}

#titre {
	text-align: center;
	font-family: "USN_Stencil", Helvetica, Arial, sans-serif;
	color: #C30140;
}

#titre h1 {
	font-size: 44px !important;
}

#hr_titre {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -3px;
	padding-left: -20px;
	padding-right: -20px;
	border-color: black !important;
}

#user_name {
	text-decoration: underline;
}

.panel {
	border-top-left-radius: 20px !important; 
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;  
	border-bottom-left-radius: 0px !important;
	background-color: #F3F2D4;
}

.panel-heading {
	border-top-left-radius: 20px !important;
	background-color: #73713D !important;
}

.panel-body {
	background-color: #F3F2D4;
}

h3 {
	font-family: "BrannbollFet", Helvetica, Arial, sans-serif;
	color: #F3F2D4 !important;
}

#tts_text_area {
	max-height: 230px;
}


/*Tweets
------*/

/* Aligne le Search dans la colonne Tweet */ 
#search_form {
	margin-top: 10px;
	margin-left: 14px;
}

/* Crée la scrollbar de la colonne Tweet */
#conteneur_tweet{
	max-height: 200px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;

}

.hr_tweet {
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 8px; 
	margin-top: -7px;
	padding-left: -20px;
	padding-right: -20px;
	border-color: #B9B9B9 !important;
}

/* aligne les bouttons en dessous de la colonne Tweets */
.inline_button {
	display: inline;
}

/* Font-size de l'entête de la modal */
#label_tweet {
	font-size: 18px;
}

/* Met en forme le contenu de la modal */
#modal_content {
	padding: 15px;
}


/*Player-Audio
------------*/

/*Pour cacher la playlist JPlayer*/
.jp-playlist {
	display: none;
}

#sortable {
	list-style-type: none;
}

#playlist {
	background-color: #F3F2D4;
	width: 261px;
	max-height: 253px;
	overflow: auto;
	padding-bottom: 0px !important;
}

#my-tracks {
	list-style-type: none;
	margin-bottom: -7px;
	padding-top: 7px;
}

.hr_track{
	margin-left: -40px;
	margin-bottom: 7px;
	margin-top: 7px;
	border-color: #B9B9B9 !important;
}

.remove-my-song {
	padding-right: 20px;
}


/*Votes
------*/

#conteneur_vote {
	height: 200px;
	padding: 0px;
	border-bottom: 1px #B9B9B9 solid;
	text-align: center;
}

.titre_colonnes {
	padding-top: 10px;
	font-weight: bold;
}

#colonne_vote_1 {
	border-right: 2px #B9B9B9 solid;
}

.hr_titre_vote{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 7px;
	margin-top: 7px;
	border-color: #B9B9B9 !important;
}

.hr_vote{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 7px;
	margin-top: 7px;
	border-color: #B9B9B9 !important;
}

.tableau_votes {
	text-align: center;
}

.dernieres_div_tableau {
	margin-bottom: 5px;
}

#table_vote {
	margin-top: 10px;
}

th {
	text-align: center;
	padding-bottom: 7px;
}